.sandbox-Antrea {
  padding: 1em 0 1em 0;
  	background-color: rgba(40, 70,86, 1);
}

.heading-Antrea {

  margin: auto;
  text-align: center;
  position: relative;
}

h5 {

  font-family: 'Cardo', serif;
  font-size: 1.5em;
  font-weight: normal;
  font-style: italic;
  letter-spacing: 0.1em;
  line-height: 2.2em;
  color:white;
}

em {
  font-family: helvetica, sans-serif;
  font-size: 3.5em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: block;
  font-style:normal;
  padding-top: 0.3em;
  text-shadow: 0.07em 0.07em 0 rgba(255, 255, 255, 0.3);
  color: white;
}

.navbar-brand {
  width: 5%;
  height: 5%;
}

.navbar h1{
  color: white;
}

body {
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  /*add more sytles?*/
}
header {
  text-align: center;
  background-color: white;
}

.bg {
  background-image: url("ARTWORK_DOCUMENTS/photo.jpg");
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  opacity: 50%;
}
